<%- include("partials/header")%>

    <%- include("partials/navbar") %>

   <form action="/pro" method="get">
    <input type="text" name="image url">
    <input type="text" name="heading">
    <textarea name="description"></textarea>
    <button>click here</button>
   </form>
  
    <%- include("partials/footer")%>