<%- include("partials/header")%>

    <%- include("partials/navbar") %>

   <!-- <form action="/pro" method="get"> -->
    <form action="/create-product" method="post">
    <input type="text" name="image">
    <input type="text" name="heading">
    <textarea name="para"></textarea>
    <button>click here</button>
   </form>
  
    <%- include("partials/footer")%>