<%- include("particals/header.ejs")%>
    <%- include("particals/nav.ejs")%>

        <form action="" class="container" accept="/signup" method="post">
            username <input name="username" type="text" class="form-control w-50 mb-3">
            Email: <input name="email" type="email" class="form-control w-50 mb-3">
            password: <input name="password" type="password" class="form-control w-50 mb-3">
            <button class="btn btn-primary">Signin</button>
        </form>

        <%- include("particals/footer.ejs")%>