<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/product">product</a></li>
        </ul>
    </nav>
    <h1>product</h1>
    <%= profile.name %>
</body>
</html>