* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
}
html,
body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 450px;
    width: 320px;
    background-color: #fff;
    border-radius: 20px;
    /* overflow: hidden; */
}

#storiyan{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid red;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}