<%- include("particals/header.ejs")%>
<%- include("particals/nav.ejs")%>

<form action="/change-password/<%= id%>" class="container" method="post">
  <h1>change password</h1>
  <input name="password" type="password" class="form-control w-50 mb-3">
  <button class="btn btn-primary">change password</button>
</form>

<%- include("particals/footer.ejs")%>
