<%- include("particals/header.ejs")%>
    <%- include("particals/nav.ejs")%>
        <div class="container bg-light">
            <h1>profile page</h1>
            <p>welcome to profile</p>
        </div>
        <%- include("particals/footer.ejs")%>