<%- include("particals/header.ejs")%>
    <%- include("particals/nav.ejs")%>

        <form action="" class="container">
            Email: <input type="email" class="form-control w-50 mb-3">
            password: <input type="password" class="form-control w-50 mb-3">
            <button class="btn btn-primary">Signin</button>
        </form>

        <%- include("particals/footer.ejs")%>