* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
}
html,
body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

h5{
    font-size: 24px;
    color: red;
}
button{
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(0, 157, 255);
    font-weight: 700;
    border-radius: 50px;
    border: none;
}