<nav class="d-flex container p-5 justify-content-between">
    <h1>Logo</h1>
    <ul class="d-flex gap-5 list-unstyled">
      <li><a href="/">HomePage</a></li>
      <li><a href="/signup">SignUp</a></li>
      <li><a href="/signin">SignIn</a></li>
      <li><a href="/signup">SignOut</a></li>
    </ul>
  </nav>